html {
    height: 100%;
}
body, div, a, span, ul, li, h1, h2, p, ol {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    background-color: #f1f1f1;
    color: #494949;
}
a {
    text-decoration: none;
    color: #E85085;
}
a:hover {
    border-bottom: 2px solid #5E5BA8;
}
a img:hover {
    border: none;
}
h1 {
    color: #3A377D;
    font-size: 2rem;
    padding: 1.5rem 0;
}
p {
    padding: 1rem 0;
    line-height: 2rem;
}
ul {
    display: inline;
}
li {
    list-style-type: none;
    display: inline;
}
em {
    font-weight: bold;
    font-style: normal;
}
a.no-hover:hover {
    border: none;
}
.main {
    min-height:100%;
    position: relative;
}
.header {
    border-top: 1rem solid #3A377D;
    background-color: #5E5BA8;
    color: #fff;
    padding: 1rem 0 0.5rem 0;
}
.site-title {
    font-size: 5rem;
    padding: 0 0 1.5rem 0;
}
.center-wrapper {
    width: 80%;
    margin: 0 auto;
}
.menu-item {
    font-size: 1.5rem;
    padding-left: 0.25rem;
    margin-right: 3rem;
}
.menu-item a {
    color: #fff;
    padding-bottom: .5rem;
}
.menu-item a:hover {
    border-bottom: .25rem solid #E85085;
}
.content {
    padding: 2rem 0 3rem 0;
}
.details {
    padding: .5rem 0;
}
.detail {
    display: block;
    line-height: 2rem;
}
.detail::before {
    content: "» ";
    color: #3A377D;
    padding-left: .5rem;
}
.screenshots {
    padding: 1rem 0;
}
.screenshot {
    padding: 1rem 0;
}
.screenshot img {
    max-width: 100%;
    margin-bottom: 1rem;
}
.tags-container {
    display: inline-block;
    padding-bottom: 1rem;
}
.tags {
    font-size: 1rem;
    padding: 1rem 0;
}
.tag {
    display: inline;
    padding: 0 .25rem;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.75rem;
    height: 3rem;
    background-color:#5E5BA8;
    color: #fff;
}
.footer-info {
    line-height: 3rem;
    text-align: center;
}
.license-logo {
    display: inline-block;
    vertical-align: middle;
}
.themes-list {
    display: inline-block;
    width: 100%;
}
.theme-title {
    font-size: 1.5rem;
}
.cell {
    width: 33%;
    display: inline-block;
}
.theme-small-img {
    box-shadow: 0 3px 2px #5E5BA8;
}
.theme-small-img:hover {
     box-shadow: 0 3px 15px #3A377D;
}
.theme-large-img {
    box-shadow:  0 0 4px #5E5BA8;
}
.theme-large-img:hover {
     box-shadow: 0 0 20px #3A377D;
}
.pagination-pages-text {
    display: inline-block;
    padding: 10px 15px 10px 0;
}
.page-number {
    display: inline-block;
    padding-right: 5px;
}
.charts-list {
    display: block;
    padding-bottom: 20px
}
.chart {
    display: list-item;
    list-style-type: disc;
    margin-left: 28px;
    padding-bottom: 12px;
}
.charts-themes-list {
    margin-left: 5px;
    padding-bottom: 12px;
}
.charts-themes-list .chart{
    list-style-type: decimal;
}
.google-search {
    display: inline-block;
    margin-left: 2rem;
    width: 25rem;
    position: relative;
    height: 3rem;
    top: 1.5rem;
}
.google-search .gsc-control-cse {
    height: 0;
    padding: 0;
    border: 0;
}
.google-search .gsc-input-box {
    border-color: #3A377D;
    margin: 0;
}
input.gsc-search-button.gsc-search-button-v2 {
    background-color: #3A377D;
}
input.gsc-search-button.gsc-search-button-v2:hover {
    background-color: #E85085;
}

@media all and (max-width:419px) and (min-width:0px) {
    h1 {
        font-size: 1.3rem;
        padding: 0;
        margin-bottom: 0.3rem;
    }
    .site-title {
        font-size: 2.2rem;
        text-align: center;
    }
    .menu-item {
        display: block;
        text-align: center;
        margin-bottom: 0.3rem;
    }
    .center-wrapper {
        width: 100%;
    }
    .cell {
        width: 100%;
    }
    .theme-small-img {
        width: 100%;
    }
    .footer-info {
        background-color: #5E5BA8;
    }
    .google-search {
        display: inline-block;
        width: 100%;
        margin-left: 0;
    }
}
@media all and (max-width:859px) and (min-width:420px) {
    .center-wrapper {
        width: 410px;
    }
    .cell {
        width: 100%;
    }
    .theme-small-img {
        width: 100%;
    }
    .google-search {
        margin-left: 0;
        display: inline-block;
        width: 100%;
    }
}

@media all and (max-width:1279px) and (min-width:860px) {
    .center-wrapper {
        width: 860px;
    }
    .cell {
        width: 427px;
    }
    .google-search {
        margin-left: 0;
        display: inline-block;
        width: 100%;
    }
}

@media all and (max-width:1600px) and (min-width:1280px) {
    .center-wrapper {
        width: 1210px;
    }
    .cell {
        width: 33%;
    }
    .google-search {
        margin-left: 0;
        display: inline-block;
    }
}
